  <a class="twitter" href="http://twitter.com/thopterfoundry"><i class="fa fa-pencil-square-o"></i><span class="tooltip">@thopterfoundry</span></a>
        
    <a class="email" href="mailto:stoneforge@plains.guru"><i class="fa fa-twitter-square"></i><span class="tooltip">stoneforge@plains.guru</span></a>