.cover {
    display: block; 
    min-height: 100%;
    min-width: 100%;
    height: auto;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}